@{
    ViewData["Title"] = "Bem-vindo ao Sistema de Gerenciamento de Produtos";
}

<div class="welcome-container">
    <h1 class="welcome-title">Luiz Mendes CB3012123</h1>
    <h1 class="welcome-title">TRABALHO PRÁTICO 03</h1>
    <p class="welcome-subtitle">Tema: Desenvolvimento de um Sistema de Gerenciamento de Produtos</p>

    <section class="objective">
        <h2>Objetivo:</h2>
        <ul>
            <li>Aplicar os seus conhecimentos em ASP.NET MVC e Entity Framework na criação de um sistema de gerenciamento de produtos.</li>
            <li>O sistema deve permitir a adição, edição, exclusão e listagem de produtos.</li>
        </ul>
    </section>

    <section class="functional-requirements">
        <h2>Requisitos Funcionais:</h2>
        <ul>
            <li>Criar uma página inicial que exiba a lista de produtos.</li>
            <li>Implementar um formulário de cadastro de produtos com os seguintes campos: nome, descrição, preço e quantidade em estoque.</li>
            <li>Permitir a edição de um produto existente.</li>
            <li>Permitir a exclusão de um produto.</li>
            <li>Implementar uma página de detalhes que exiba informações detalhadas sobre um produto.</li>
            <li>Validar os dados de entrada para garantir que os campos obrigatórios sejam preenchidos e que os valores sejam válidos.</li>
            <li>Usar o Entity Framework para mapear os objetos de domínio (por exemplo, Produto) para o banco de dados.</li>
        </ul>
    </section>

    <section class="technical-requirements">
        <h2>Requisitos Técnicos:</h2>
        <ul>
            <li>Utilizar ASP.NET MVC para criar a estrutura da aplicação.</li>
            <li>Usar Entity Framework para interagir com o banco de dados.</li>
            <li>Utilizar uma camada de controle para processar as requisições HTTP e interagir com a camada de dados.</li>
            <li>Aplicar estilos para melhorar a aparência da aplicação.</li>
            <li>Implementar roteamento de URL para as diferentes ações da aplicação.</li>
        </ul>
    </section>

    <section class="deliverables">
        <h2>Entregáveis:</h2>
        <ul>
            <li>Código-fonte completo da aplicação.</li>
            <li>Vídeo da aplicação funcionando.</li>
        </ul>
    </section>

    <section class="evaluation-criteria">
        <h2>Critérios de Avaliação:</h2>
        <ul>
            <li>Implementação bem-sucedida dos requisitos funcionais.</li>
            <li>Boa organização e estrutura do código-fonte.</li>
            <li>Uso adequado do Entity Framework para interagir com o banco de dados.</li>
            <li>Interface do usuário amigável e funcional.</li>
            <li>Validação eficaz de entrada de dados.</li>
            <li>Cumprimento dos requisitos técnicos.</li>
        </ul>
    </section>
</div>
